<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <li class="main-header__item">
      <img
        src="images/logo.png"
        style="height: 117px; width: 86px; margin-top: 40px; color: white"
        alt="logo"
      />
    </li>
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a
          class="<%= path === '/createProject' ? 'active' : '' %>"
          href="/createProject"
          >Create Project</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/getUserProjects' ? 'active' : '' %>"
          href="/getUserProjects"
          >My Projects</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/getFundedProjects' ? 'active' : '' %>"
          href="/getFundedProjects"
          >My Projects Funded</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/getMyDonations' ? 'active' : '' %>"
          href="/getMyDonations"
          >Donations</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/getAllAuthProjects' ? 'active' : '' %>"
          href="/getAllAuthProjects"
          >Raise Funds</a
        >
      </li>
      <li class="main-header__item">
        <!-- <a class="<%= path === '/getProfile' ? 'active' : '' %>" href="/getProfile" style="margin-left: 400px; ">Profile</a> -->
        <a
          class="<%= path === '/getProfile' ? 'active' : '' %>"
          href="/getProfile"
          >Profile</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/logout' ? 'active' : '' %>" href="/logout"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>

<!-- <nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/getAllUsers' ? 'active' : '' %>" href="/getAllUsers">Products</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                    </a>
                </li>
            </ul>
</nav> -->
